.ForgotPass{
    position: absolute;
    background-color: var(--container-background);
    display: flex;
    flex-direction: column;
    user-select: none;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
    left: 50%;
    top: 50%;
    border-radius: .4em;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
}

.ForgotPass > div{
    position: absolute;
    font-family: var(--titles-font);
    top: 5%;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2em;
}

.ForgotPass input,.ForgotPass button{
    height: 3em;
    transition: all .3s ease;
    margin: 1em;
    border: 0;
    padding: .2em .2em .2em .6em;
    font-size: 1.1em;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.ForgotPass button{
    width: 6em;
    font-weight: 1000;
    background-color: var(--text);
    cursor: pointer;
    color: var(--container-background);
    border: 2px solid var(--text);
    font-family: var(--title);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.ForgotPass button:hover{
    background-color: var(--container-background);
    color: var(--text);
}

.ForgotPass input{
    color: var(--text);
    background-color: var(--secondary);
    width: 60%;
}

.ForgotPass input::placeholder{
    color: var(--text);
    filter: opacity(70%);
    -webkit-filter: opacity(70%);
}

.ForgotPass input:focus,.ForgotPass button:focus{
    outline: 0;
}


@media screen and (min-width: 898px) {
    .ForgotPass{
        width: 50%;
    }
}