.Messages{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: .4em;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
}

.Messages-Titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text);
    padding: 1em 2em 2em 0;
}
.Messages-Titles > h2{
    font-family: var(--titles-font);
}
.Messages-Titles > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Messages-Titles > div button{
    cursor: pointer;
    padding: .3em 1.5em .3em 1.5em;
    font-weight: 600;
    transition: all .3s ease;
    background-color: var(--green);
    width: 10em;
    margin-left: 1em;
    border: 0;
    filter: brightness(100%);
    border-radius: .3em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -o-border-radius: .3em;
    -webkit-filter: brightness(100%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.Messages-Titles > div button:hover{
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
}
.Messages-Content{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.Messages-Separator{
    /* position: absolute; */
    width: 1px;
    height: 100%;
    margin: .5em;
    margin-top: 2%;
    background-color: var(--text);
}
.Messages-CreateGroupe{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.Messages-CreateGroupe > li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.Messages-CreateGroupe > li:not(:first-of-type){
    flex-direction: column;
}
.Messages-CreateGroupe > li:not(:first-of-type) > span{
    align-self: flex-start;
    margin: 1em;
}
.Messages-CreateGroupe > li:last-of-type{
    align-items: flex-end;
}
.Messages-CreateGroupe input[type="text"]{
    color: var(--text);
    background-color: var(--secondary);
    width: 50%;
    height: 2em;
    transition: all .3s ease;
    margin: 1em;
    border: 0;
    padding: .2em .2em .2em .6em;
    font-size: 1.1em;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.Messages-CreateGroupe input[type="text"]:focus{
    outline: 0;
}
.Messages-CreateGroupe img{
    max-width: 60%;
    cursor: pointer;
    max-height: 13em;
}
.Messages-CreateGroupe input[type="button"]{
    cursor: pointer;
    padding: .3em 1.5em .3em 1.5em;
    font-weight: 600;
    transition: all .3s ease;
    width: 10em;
    margin-left: 1em;
    border: 0;
    background-color: var(--green);
    filter: brightness(100%);
    border-radius: .3em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -o-border-radius: .3em;
    -webkit-filter: brightness(100%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.Messages-CreateGroupe input[type="button"]:hover{
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
}

.Messages-CreateGroupe-AddMembers{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Messages-CreateGroupe-AddMembers > ul{
    width: 100%;
    overflow-y: auto;
    border: 1px 0 1px 0 solid var(--text);
}
.Messages-CreateGroupe-AddMembers > ul li{
    width: 100%;
    cursor: pointer;
    padding: .5em;
    margin: .4em 0 .4em 0;
    border-radius: .3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -o-border-radius: .3em;
}
.Messages-CreateGroupe-AddMembers > ul li:hover{
    background-color: var(--secondary);
}

.Messages-CreateGroupe-AddMembers > ul div{
    width: 1em;
    height: 1em;
    border-radius: 100%;
    transition: all .1s ease;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
}

.Messages-CreateGroupe-AddMembers > ul img{
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.Messages-CreateGroupe-AddMembers > ul span{
    width: 90%;
    padding-left: .5em;
}

.Messages-CreateGroupe-AddMembers > div { 
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.Messages-CreateGroupe-AddMembers input { 
    cursor: pointer;
    padding: .3em 1.5em .3em 1.5em;
    font-weight: 600;
    transition: all .3s ease;
    width: 6em;
    margin-left: 1em;
    border: 0;
    background-color: var(--green);
    filter: brightness(100%);
    border-radius: .3em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -o-border-radius: .3em;
    -webkit-filter: brightness(100%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.Messages-CreateGroupe-AddMembers input:hover{
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
}

.Messages-Conversation-Info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10em;
    font-size: 1.3em;
    font-family: var(--titles-font);
    font-weight: 500;
}